
.navbar {
  display: flex;
  justify-content: space-between;

}
.navbar h2 {
  float: right;
  padding-bottom: 20px;
}
.mainbar a{
  justify-content: space-between;
  text-decoration: none;
  font-size: 24px;
  margin: 50px;
}
.section2 {
  display: flex;
  font-size: 21px;
  margin-left: 4px;
 
  padding-top: 200px;
  }
.i2 {
  float: right;
  margin-left: 500px;
}
.content-1{
  padding-top: 250px ;
  clear: both;
  display: flex;
  justify-content: space-around;
  margin-top: 358px;
  background-color: #E1EBE6;
  padding-bottom: 150px;
}
.content-1 h5{
  color: brown;
}
.box{
  border: 2px solid grey;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  height: 300px;
  width: 350px;
}
#center-box{
  height: 450px;
  margin-top: -80px;
  padding-top: 75px;
}
.content-2{
  margin-top: 100px;
}
.content-2 h2{
font-size: 40px;
border-bottom: 10px solid yellow;
margin-left:  45%;
margin-right: 48%;
}
.feature{
  margin: 0 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature h3{
  text-align: center;
}
.box-2{
  margin-top: 50px;
  width: 300px;
  padding-right: 20px;
  border: 2px solid grey;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  height: 400px;
  box-shadow: 3px 3px grey;
}
.part-2{
  background-color: #E1EBE6;
  padding: 150px;
  margin-top: 80px;
  
}
.content-3{
  float: left;
  margin-right: 35%;
  margin-left: 10px;
  font-size: 20px;
}
#img-3{
  position: absolute;
  left: 55%;
  padding-top: 50px;
  width: 350px;
}
.img-4{
  margin-bottom: -80%;
}
.color-2{
  color: #F6B400;
}
.part-3{
  padding-top: 50px;
  background-color: #F6B400;
  height: 700px;
  padding-left: 70px;
}
.part-3 p{
  font-weight: bold;
  font-size: 60px;
}
.part-3 img{
  padding-top: 100px;
 
}
